#introParagraph {
    margin: 50px auto;
}

#linkSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.links {
    width: 45%;
    aspect-ratio: auto 3/2;
    position: relative;
}

#spotify {
    background-image: url(../../img/home/spotify.jpg);
    background-size: cover;
    background-position: center;
}

#facebook {
    background-image: url(../../img/home/facebook.jpg);
    background-size: cover;
    background-position: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color:rgba(25, 25, 25, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 45px;
    transition: 0.3s ease;
}

.overlay:hover {
    background-color:rgba(25, 25, 25, 1);
}

@media screen and (max-width: 900px) {
    #linkSection {
        flex-direction: column;
    }

    .links:first-child {
        margin-bottom: 30px;
    }

    .links {
        width: 100%;
    }
}