#introParagraph {
    margin: 50px auto;
}

#linkSection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

.links {
    width: 100%;
    padding-bottom: 66%;
    position: relative;
}

#spotify {
    background-image: url(../../img/home/spotify.jpg);
    background-size: cover;
    background-position: center;
}

#facebook {
    background-image: url(../../img/home/facebook.jpg);
    background-size: cover;
    background-position: center;
}

#itunes {
    background-image: url(../../img/home/itunes.jpg);
    background-size: cover;
    background-position: center;
}

#youtube {
    background-image: url(../../img/home/youtube.jpg);
    background-size: cover;
    background-position: center;
}

/* Overlay for link section */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color:rgba(25, 25, 25, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 45px;
    transition: 0.3s ease;
}

.overlay:hover {
    background-color:rgba(25, 25, 25, 0.8);
}

@media screen and (max-width: 900px) {
    #linkSection {
        flex-direction: column;
    }

    .links:nth-child(2n + 1) {
        margin: 30px 0 30px 0;
    }

    .links {
        width: 100%;
        padding-bottom: 66%;
    }
}