#socialPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#grunyonLogo {
    width: 500px;
    height: auto;
}

#soon {
    color: white;
    font-size: 50px;
}